*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
head {font-family: 'DM Mono', monospace;}

h1 {
	font-family: 'Monoton', cursive;
	font-size: 65px;
	color: #000000;
	text-align:center;
}
#slogan {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 32px;
	font-style: italic;
	text-align: center;
}



h2 {
	font-family: 'Open Sans Condensed', sans-serif;
	color: #000000;
	text-align: center;
}
h3 {
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
	color:#000000;
}

article {
  width: 500px;
  margin: 10px auto;
  border: 2px solid black;
  padding: 10px;
}

article img {
  margin: 0 10px 10px 0;
}

article p {
  margin: 0;
  padding: 0;
}
