*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
head {font-family: 'DM Mono', monospace;}

h1 {
	font-family: 'Monoton', cursive;
	font-size: 65px;
	color: #000000;
	text-align:center;
}
#slogan {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 32px;
	font-style: italic;
	text-align: center;
}

img { display: block;
 	width: 75%
 	height: 75;	
 	float: left;
}

h2 {
	font-family: 'Open Sans Condensed', sans-serif;
	color: #ffffff;
	text-align: center;
}
h3 {
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
	color:#000000;
}

.two-columns .column{
	width: 50%;
	padding: 10px;
	float:left;
}

#two_column {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}

#clearfix: after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}


#right {
    background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
    float: right;   
    width: 62%;
}
