*
{
	padding: 0;
	Margin: 0;
}
body {
	background-color: #008181;
}
h1 {
	font-family: 'Monoton', cursive;
	color: #ffffff;
	text-align:center;
}
#slogan {
	font-family: Helvetica, sans-serif;
	font-style: italic;
	text-align: center;
}

img { display: block;
  	margin-left: auto;
  	margin-right: auto;
 	width: 50%;
}

h2 {
	font-family: Helvetica, sans-serif;
	color: #ffffff;
	text-align: center;
}
h3 {
	font-family: Helvetica, sans-serif;
	text-align: center;
	color:#000000;
}