body {
	background-color: #008181;
}
h1 {color: #ffffff;
	font-family: helvetica;
	text-align:center;
}
#slogan {
	font-style: italic;
	text-align: center;
}

#master {align:center;}

img {align: center;}

h2 {color: #ffffff;
	text-align: center;
}