body {
	background-color: #008181;
}
h1 {color: #ffffff;
	font-family: helvetica;
	text-align:center;
}
#slogan {
	font-style: italic;
	text-align: center;
}

img { display: block;
  margin-left: auto;
  margin-right: auto;
 
}

h2 {color: #ffffff;
	text-align: center;
}
h3 {text-align: center;
color:#000000;
}